In [7]:
import pandas as pd
from sklearn.impute import KNNImputer
df_org = pd.read_csv('c:/Users/ACER/Documents/python_koica/data/iris.csv')

df_miss = df_org.copy()
df_miss.iloc[0, 1] = pd.NA ; df_miss.iloc[0, 2] = pd.NA
df_miss.iloc[1, 2] = pd.NA ; df_miss.iloc[2, 3] = None

df_miss.head()

imputer = KNNImputer(n_neighbors=5)
tmp_np = df_miss.iloc[:,:4].to_numpy()
tmp_np_imputed = imputer.fit_transform(tmp_np)
df_miss.iloc[:,:4] = tmp_np

df_miss.head()
df_org.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa